*
*::after,
*::before{
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
header{
    background: linear-gradient(180deg, #EDA418 47.4%, rgba(237, 164, 24, 0) 100%);
}
nav{
    padding-top: 11px;
    margin-bottom: 23px;
}
nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu_logo{
    padding-top: 17px;
}
.nav_menu_list{
    margin-left: 660px;
    margin-bottom: 400px;
}
.nav_menu_button{
    border: none;
    background-color: transparent;
    cursor:pointer;
    margin-bottom: 23px;
}
.nav_menu_link{
    margin-right: 100px;
    font-size: 25px;
    line-height: 24px;
    font-weight: 500;
}
.nav_menu_link#link1{
    font-weight: 700;
}
.nav_menu_link:hover{
    color:white;
}

.header_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
 }
.hero_list_title{
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 29px;
}
.hero_list_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
}
.hero_list_btn{
    padding: 14px 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border: none;
    background-color: #E62626;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: 0.5 ease;

}
.hero_list_btn:hover{
    background-color: #881414;
}
.main_menu_title{
    text-align: center;
}
.footer_copyright{
    text-align: center;
}
.footer_link1{
    margin-left: 50px;
    margin-bottom: 100px;
}
.footer_link2{
    margin-right: 50px;
    margin-left: 50px;
}
.footer-text{
    text-align: center;
}
.footer_social{
    text-align: center;
}
.social_icon{
    margin-bottom: 105px;
}
.social_icon1{
    margin-bottom: 100px;
}
.MENU1{
    display: inline-block;
    margin-left: 355px;
    margin-bottom: 100px;
}
.MENU2{
    display: inline-block;
    margin-left: 150px;
}
.footer{
    background: linear-gradient(180deg, white, #EDA418 47.4%);
}
